In [1]:
import pandas as pd
df = pd.read_csv('csv/game.csv')
df.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  int64
 1   team_id_home            65698 non-null  int64
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  int64
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  fga_home                50251 non-null  float64
 11  fg_pct_home             50208 non-null  float64
 12  fg3m_home               52480 non-null  float64
 13  fg3a_home               47015 non-null  float64
 14  fg3_pct_home            46624 non-null  float64
 15  ftm_home                65682 non-null  float64
 16  fta_home                62694 non-null  float64
 17  ft_pct_home             62689 non-null  float64
 18  oreb_home               46762 non-null  float64
 19  dreb_home               46699 non-null  float64
 20  reb_home                49969 non-null  float64
 21  ast_home                49893 non-null  float64
 22  stl_home                46849 non-null  float64
 23  blk_home                47072 non-null  float64
 24  tov_home                47014 non-null  float64
 25  pf_home                 62842 non-null  float64
 26  pts_home                65698 non-null  float64
 27  plus_minus_home         65698 non-null  int64
 28  video_available_home    65698 non-null  int64
 29  team_id_away            65698 non-null  int64
 30  team_abbreviation_away  65698 non-null  object
 31  team_name_away          65698 non-null  object
 32  matchup_away            65698 non-null  object
 33  wl_away                 65696 non-null  object
 34  fgm_away                65685 non-null  float64
 35  fga_away                50251 non-null  float64
 36  fg_pct_away             50209 non-null  float64
 37  fg3m_away               52480 non-null  float64
 38  fg3a_away               47015 non-null  float64
 39  fg3_pct_away            46736 non-null  float64
 40  ftm_away                65685 non-null  float64
 41  fta_away                62694 non-null  float64
 42  ft_pct_away             62692 non-null  float64
 43  oreb_away               46762 non-null  float64
 44  dreb_away               46700 non-null  float64
 45  reb_away                49973 non-null  float64
 46  ast_away                49897 non-null  float64
 47  stl_away                46849 non-null  float64
 48  blk_away                47073 non-null  float64
 49  tov_away                47013 non-null  float64
 50  pf_away                 62847 non-null  float64
 51  pts_away                65698 non-null  float64
 52  plus_minus_away         65698 non-null  int64
 53  video_available_away    65698 non-null  int64
 54  season_type             65698 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 27.6+ MB

In [3]:
# Seeing number of null values
df.isnull().sum()

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [4]:
missing_percentage = df.isnull().sum() / len(df)
missing_percentage

season_id                 0.000000
team_id_home              0.000000
team_abbreviation_home    0.000000
team_name_home            0.000000
game_id                   0.000000
game_date                 0.000000
matchup_home              0.000000
wl_home                   0.000030
min                       0.000000
fgm_home                  0.000198
fga_home                  0.235121
fg_pct_home               0.235776
fg3m_home                 0.201193
fg3a_home                 0.284377
fg3_pct_home              0.290328
ftm_home                  0.000244
fta_home                  0.045724
ft_pct_home               0.045800
oreb_home                 0.288228
dreb_home                 0.289187
reb_home                  0.239414
ast_home                  0.240570
stl_home                  0.286904
blk_home                  0.283509
tov_home                  0.284392
pf_home                   0.043472
pts_home                  0.000000
plus_minus_home           0.000000
video_available_home      0.000000
team_id_away              0.000000
team_abbreviation_away    0.000000
team_name_away            0.000000
matchup_away              0.000000
wl_away                   0.000030
fgm_away                  0.000198
fga_away                  0.235121
fg_pct_away               0.235761
fg3m_away                 0.201193
fg3a_away                 0.284377
fg3_pct_away              0.288624
ftm_away                  0.000198
fta_away                  0.045724
ft_pct_away               0.045755
oreb_away                 0.288228
dreb_away                 0.289172
reb_away                  0.239353
ast_away                  0.240510
stl_away                  0.286904
blk_away                  0.283494
tov_away                  0.284407
pf_away                   0.043396
pts_away                  0.000000
plus_minus_away           0.000000
video_available_away      0.000000
season_type               0.000000
dtype: float64

In [5]:
# Identify columns with more than 10% missing values
cols_to_drop = missing_percentage[missing_percentage > 0.10].index
df_cleaned = df.drop(columns=cols_to_drop)

In [6]:
df = df_cleaned
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  int64
 1   team_id_home            65698 non-null  int64
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  int64
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  ftm_home                65682 non-null  float64
 11  fta_home                62694 non-null  float64
 12  ft_pct_home             62689 non-null  float64
 13  pf_home                 62842 non-null  float64
 14  pts_home                65698 non-null  float64
 15  plus_minus_home         65698 non-null  int64
 16  video_available_home    65698 non-null  int64
 17  team_id_away            65698 non-null  int64
 18  team_abbreviation_away  65698 non-null  object
 19  team_name_away          65698 non-null  object
 20  matchup_away            65698 non-null  object
 21  wl_away                 65696 non-null  object
 22  fgm_away                65685 non-null  float64
 23  ftm_away                65685 non-null  float64
 24  fta_away                62694 non-null  float64
 25  ft_pct_away             62692 non-null  float64
 26  pf_away                 62847 non-null  float64
 27  pts_away                65698 non-null  float64
 28  plus_minus_away         65698 non-null  int64
 29  video_available_away    65698 non-null  int64
 30  season_type             65698 non-null  object
dtypes: float64(12), int64(9), object(10)
memory usage: 15.5+ MB

In [7]:
df.shape

(65698, 31)

In [8]:
df = df.dropna()
df.shape

(60385, 31)

In [9]:
# Converting feature Date from datatype object to datatype date
df['game_date'] = pd.to_datetime(df['game_date'])
df.head()

/tmp/ipykernel_84086/291960660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['game_date'] = pd.to_datetime(df['game_date'])

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,wl_away,fgm_away,ftm_away,fta_away,ft_pct_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
10,21946,1610610034,BOM,St. Louis Bombers,24600012,1946-11-07,BOM vs. NYK,L,0,25.0,...,W,26.0,16.0,23.0,0.696,16.0,68.0,5,0,Regular Season
11,21946,1610612744,PHW,Philadelphia Warriors,24600010,1946-11-07,PHW vs. PIT,W,0,28.0,...,L,29.0,17.0,28.0,0.607,35.0,75.0,-6,0,Regular Season
12,21946,1610610035,HUS,Toronto Huskies,24600013,1946-11-08,HUS vs. DEF,W,0,31.0,...,L,28.0,15.0,23.0,0.652,15.0,71.0,-2,0,Regular Season
19,21946,1610610031,PIT,Pittsburgh Ironmen,24600019,1946-11-11,PIT vs. PRO,W,0,29.0,...,L,21.0,29.0,42.0,0.690,28.0,71.0,-13,0,Regular Season
24,21946,1610610035,HUS,Toronto Huskies,24600025,1946-11-15,HUS vs. PRO,W,0,32.0,...,L,21.0,26.0,34.0,0.765,22.0,68.0,-17,0,Regular Season

In [10]:
df['wl_home'].value_counts()

wl_home
W    36958
L    23427
Name: count, dtype: int64

In [11]:
df['wl_away'].value_counts()

wl_away
L    36958
W    23427
Name: count, dtype: int64

In [12]:
import numpy as np
df['Winner'] = np.where(df['wl_home'] == 'W', df['team_id_home'], df['team_id_away'])
df['Loser'] = np.where(df['wl_home'] == 'L', df['team_id_home'], df['team_id_away'])

/tmp/ipykernel_84086/790270565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Winner'] = np.where(df['wl_home'] == 'W', df['team_id_home'], df['team_id_away'])
/tmp/ipykernel_84086/790270565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Loser'] = np.where(df['wl_home'] == 'L', df['team_id_home'], df['team_id_away'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60385 entries, 10 to 65695
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               60385 non-null  int64
 1   team_id_home            60385 non-null  int64
 2   team_abbreviation_home  60385 non-null  object
 3   team_name_home          60385 non-null  object
 4   game_id                 60385 non-null  int64
 5   game_date               60385 non-null  datetime64[ns]
 6   matchup_home            60385 non-null  object
 7   wl_home                 60385 non-null  object
 8   min                     60385 non-null  int64
 9   fgm_home                60385 non-null  float64
 10  ftm_home                60385 non-null  float64
 11  fta_home                60385 non-null  float64
 12  ft_pct_home             60385 non-null  float64
 13  pf_home                 60385 non-null  float64
 14  pts_home                60385 non-null  float64
 15  plus_minus_home         60385 non-null  int64
 16  video_available_home    60385 non-null  int64
 17  team_id_away            60385 non-null  int64
 18  team_abbreviation_away  60385 non-null  object
 19  team_name_away          60385 non-null  object
 20  matchup_away            60385 non-null  object
 21  wl_away                 60385 non-null  object
 22  fgm_away                60385 non-null  float64
 23  ftm_away                60385 non-null  float64
 24  fta_away                60385 non-null  float64
 25  ft_pct_away             60385 non-null  float64
 26  pf_away                 60385 non-null  float64
 27  pts_away                60385 non-null  float64
 28  plus_minus_away         60385 non-null  int64
 29  video_available_away    60385 non-null  int64
 30  season_type             60385 non-null  object
 31  Winner                  60385 non-null  int64
 32  Loser                   60385 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(11), object(9)
memory usage: 15.7+ MB

In [14]:
df.drop(['wl_home', 'wl_away', 'team_name_home', 'team_name_away'], axis=1)

,season_id,team_id_home,team_abbreviation_home,game_id,game_date,matchup_home,min,fgm_home,ftm_home,fta_home,...,ftm_away,fta_away,ft_pct_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type,Winner,Loser
10,21946,1610610034,BOM,24600012,1946-11-07,BOM vs. NYK,0,25.0,13.0,20.0,...,16.0,23.0,0.696,16.0,68.0,5,0,Regular Season,1610612752,1610610034
11,21946,1610612744,PHW,24600010,1946-11-07,PHW vs. PIT,0,28.0,25.0,39.0,...,17.0,28.0,0.607,35.0,75.0,-6,0,Regular Season,1610612744,1610610031
12,21946,1610610035,HUS,24600013,1946-11-08,HUS vs. DEF,0,31.0,11.0,26.0,...,15.0,23.0,0.652,15.0,71.0,-2,0,Regular Season,1610610035,1610610028
19,21946,1610610031,PIT,24600019,1946-11-11,PIT vs. PRO,0,29.0,26.0,35.0,...,29.0,42.0,0.690,28.0,71.0,-13,0,Regular Season,1610610031,1610610032
24,21946,1610610035,HUS,24600025,1946-11-15,HUS vs. PRO,0,32.0,21.0,28.0,...,26.0,34.0,0.765,22.0,68.0,-17,0,Regular Season,1610610035,1610610032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65691,42022,1610612743,DEN,42200401,2023-06-01,DEN vs. MIA,240,40.0,16.0,20.0,...,2.0,2.0,1.000,15.0,93.0,-11,1,Playoffs,1610612743,1610612748
65692,42022,1610612743,DEN,42200402,2023-06-04,DEN vs. MIA,240,39.0,19.0,22.0,...,18.0,20.0,0.900,22.0,111.0,3,1,Playoffs,1610612748,1610612743
65693,42022,1610612748,MIA,42200403,2023-06-07,MIA vs. DEN,240,34.0,15.0,19.0,...,22.0,27.0,0.815,18.0,109.0,15,1,Playoffs,1610612743,1610612748
65694,42022,1610612748,MIA,42200404,2023-06-09,MIA vs. DEN,240,35.0,17.0,20.0,...,16.0,21.0,0.762,18.0,108.0,13,1,Playoffs,1610612743,1610612748
65695,42022,1610612743,DEN,42200405,2023-06-12,DEN vs. MIA,240,38.0,13.0,23.0,...,14.0,16.0,0.875,21.0,89.0,-5,1,Playoffs,1610612743,1610612748

In [15]:
df = df.sort_values('game_date').reset_index(drop=True)
df

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,ftm_away,fta_away,ft_pct_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type,Winner,Loser
0,21946,1610610034,BOM,St. Louis Bombers,24600012,1946-11-07,BOM vs. NYK,L,0,25.0,...,16.0,23.0,0.696,16.0,68.0,5,0,Regular Season,1610612752,1610610034
1,21946,1610612744,PHW,Philadelphia Warriors,24600010,1946-11-07,PHW vs. PIT,W,0,28.0,...,17.0,28.0,0.607,35.0,75.0,-6,0,Regular Season,1610612744,1610610031
2,21946,1610610035,HUS,Toronto Huskies,24600013,1946-11-08,HUS vs. DEF,W,0,31.0,...,15.0,23.0,0.652,15.0,71.0,-2,0,Regular Season,1610610035,1610610028
3,21946,1610610031,PIT,Pittsburgh Ironmen,24600019,1946-11-11,PIT vs. PRO,W,0,29.0,...,29.0,42.0,0.690,28.0,71.0,-13,0,Regular Season,1610610031,1610610032
4,21946,1610610035,HUS,Toronto Huskies,24600025,1946-11-15,HUS vs. PRO,W,0,32.0,...,26.0,34.0,0.765,22.0,68.0,-17,0,Regular Season,1610610035,1610610032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60380,42022,1610612743,DEN,Denver Nuggets,42200401,2023-06-01,DEN vs. MIA,W,240,40.0,...,2.0,2.0,1.000,15.0,93.0,-11,1,Playoffs,1610612743,1610612748
60381,42022,1610612743,DEN,Denver Nuggets,42200402,2023-06-04,DEN vs. MIA,L,240,39.0,...,18.0,20.0,0.900,22.0,111.0,3,1,Playoffs,1610612748,1610612743
60382,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07,MIA vs. DEN,L,240,34.0,...,22.0,27.0,0.815,18.0,109.0,15,1,Playoffs,1610612743,1610612748
60383,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09,MIA vs. DEN,L,240,35.0,...,16.0,21.0,0.762,18.0,108.0,13,1,Playoffs,1610612743,1610612748
60384,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12,DEN vs. MIA,W,240,38.0,...,14.0,16.0,0.875,21.0,89.0,-5,1,Playoffs,1610612743,1610612748

In [16]:
df.drop(['wl_home', 'wl_away', 'team_name_home', 'team_name_away', 'team_abbreviation_home', 'team_abbreviation_away', 'matchup_home'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60385 entries, 0 to 60384
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   season_id             60385 non-null  int64
 1   team_id_home          60385 non-null  int64
 2   game_id               60385 non-null  int64
 3   game_date             60385 non-null  datetime64[ns]
 4   min                   60385 non-null  int64
 5   fgm_home              60385 non-null  float64
 6   ftm_home              60385 non-null  float64
 7   fta_home              60385 non-null  float64
 8   ft_pct_home           60385 non-null  float64
 9   pf_home               60385 non-null  float64
 10  pts_home              60385 non-null  float64
 11  plus_minus_home       60385 non-null  int64
 12  video_available_home  60385 non-null  int64
 13  team_id_away          60385 non-null  int64
 14  matchup_away          60385 non-null  object
 15  fgm_away              60385 non-null  float64
 16  ftm_away              60385 non-null  float64
 17  fta_away              60385 non-null  float64
 18  ft_pct_away           60385 non-null  float64
 19  pf_away               60385 non-null  float64
 20  pts_away              60385 non-null  float64
 21  plus_minus_away       60385 non-null  int64
 22  video_available_away  60385 non-null  int64
 23  season_type           60385 non-null  object
 24  Winner                60385 non-null  int64
 25  Loser                 60385 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(11), object(2)
memory usage: 12.0+ MB

In [17]:
df.drop(['matchup_away', 'video_available_away'], axis=1, inplace=True)

In [18]:
from collections import defaultdict

def compute_elo(df, k=32, init_elo=1000, surface_col="Surface"):
    # returns df with winner_elo_pre, loser_elo_pre, elo_diff and also updates internals
    df = df.copy()
    # initialize
    elo = defaultdict(lambda: init_elo)
    elo_surface = defaultdict(lambda: defaultdict(lambda: init_elo))
    w_elo_pre, l_elo_pre, w_elo_surf_pre, l_elo_surf_pre = [], [], [], []

    for _, row in df.iterrows():
        w, l = row["Winner"], row["Loser"]
        surf = row.get(surface_col, None)

        # pre-match
        w_pre = elo[w]
        l_pre = elo[l]
        w_surf_pre = elo_surface[w][surf]
        l_surf_pre = elo_surface[l][surf]

        w_elo_pre.append(w_pre)
        l_elo_pre.append(l_pre)
        w_elo_surf_pre.append(w_surf_pre)
        l_elo_surf_pre.append(l_surf_pre)

        # expected
        exp_w = 1 / (1 + 10 ** ((l_pre - w_pre) / 400))
        exp_l = 1 - exp_w

        # update global
        elo[w] += k * (1 - exp_w)
        elo[l] += k * (0 - exp_l)

        # update surface
        exp_w_s = 1 / (1 + 10 ** ((l_surf_pre - w_surf_pre) / 400))
        elo_surface[w][surf] += k * (1 - exp_w_s)
        elo_surface[l][surf] += k * (0 - (1 - exp_w_s))

    df["winner_elo_pre"] = w_elo_pre
    df["loser_elo_pre"] = l_elo_pre
    df["elo_diff"] = df["winner_elo_pre"] - df["loser_elo_pre"]
    df["winner_elo_surf_pre"] = w_elo_surf_pre
    df["loser_elo_surf_pre"] = l_elo_surf_pre
    df["elo_surf_diff"] = df["winner_elo_surf_pre"] - df["loser_elo_surf_pre"]
    return df

df = compute_elo(df)

In [19]:
def add_h2h_feature(df):
    df = df.copy()
    h2h = defaultdict(lambda: defaultdict(int))
    h2h_pre = []

    for _, row in df.iterrows():
        w, l = row["Winner"], row["Loser"]

        # record value BEFORE match
        h2h_pre.append(h2h[w][l] - h2h[l][w])

        # update AFTER match
        h2h[w][l] += 1

    df["h2h_pre"] = h2h_pre
    return df

df = add_h2h_feature(df)

In [20]:
from collections import deque
def add_recent_form(df, N=10):
    df = df.copy()
    recent_form = defaultdict(lambda: deque(maxlen=N))
    form_pre = []

    for _, row in df.iterrows():
        w, l = row["Winner"], row["Loser"]

        # wins so far before match
        w_wins = sum(recent_form[w])
        l_wins = sum(recent_form[l])
        form_pre.append(w_wins - l_wins)

        # update after match
        recent_form[w].append(1)
        recent_form[l].append(0)

    df["recent_form_diff"] = form_pre
    return df

df = add_recent_form(df)

In [22]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()

for header in list(df.columns):
    if (df[header].dtype == object):
        df[header] = ord_enc.fit_transform(df[[header]])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60385 entries, 0 to 60384
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   season_id             60385 non-null  int64
 1   team_id_home          60385 non-null  int64
 2   game_id               60385 non-null  int64
 3   game_date             60385 non-null  datetime64[ns]
 4   min                   60385 non-null  int64
 5   fgm_home              60385 non-null  float64
 6   ftm_home              60385 non-null  float64
 7   fta_home              60385 non-null  float64
 8   ft_pct_home           60385 non-null  float64
 9   pf_home               60385 non-null  float64
 10  pts_home              60385 non-null  float64
 11  plus_minus_home       60385 non-null  int64
 12  video_available_home  60385 non-null  int64
 13  team_id_away          60385 non-null  int64
 14  fgm_away              60385 non-null  float64
 15  ftm_away              60385 non-null  float64
 16  fta_away              60385 non-null  float64
 17  ft_pct_away           60385 non-null  float64
 18  pf_away               60385 non-null  float64
 19  pts_away              60385 non-null  float64
 20  plus_minus_away       60385 non-null  int64
 21  season_type           60385 non-null  float64
 22  Winner                60385 non-null  int64
 23  Loser                 60385 non-null  int64
 24  winner_elo_pre        60385 non-null  float64
 25  loser_elo_pre         60385 non-null  float64
 26  elo_diff              60385 non-null  float64
 27  winner_elo_surf_pre   60385 non-null  float64
 28  loser_elo_surf_pre    60385 non-null  float64
 29  elo_surf_diff         60385 non-null  float64
 30  h2h_pre               60385 non-null  int64
 31  recent_form_diff      60385 non-null  int64
dtypes: datetime64[ns](1), float64(19), int64(12)
memory usage: 14.7 MB

In [23]:
df.to_parquet('df_final.parquet', engine='fastparquet')